<div class="mat-table__wrapper">
  <mat-table class="lmat-elevation-z8"
    #table
    [dataSource]="empleados"
    matSort>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>name</mat-header-cell>
      <mat-cell *matCellDef="let empleado">{{empleado.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>lastName</mat-header-cell>
      <mat-cell *matCellDef="let empleado">{{empleado.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef mat-sort-header>age</mat-header-cell>
      <mat-cell *matCellDef="let empleado">{{empleado.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fechaAlta">
      <mat-header-cell *matHeaderCellDef mat-sort-header>fechaAlta</mat-header-cell>
      <mat-cell *matCellDef="let empleado">{{empleado.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="departamento">
      <mat-header-cell *matHeaderCellDef mat-sort-header>departamento</mat-header-cell>
      <mat-cell *matCellDef="let empleado">{{empleado.name}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <div class="mat-table__message" *ngIf="!empleados?.length">No records found</div>Message for empty data 
  <div class="mat-table__message" *ngIf="!empleados?.length">Please wait....</div>
</div>
