
<div class="employees">
  <div class="contenido">
		<ng-container>
			<a [routerLink]="['/employee']" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Back to the employee list">
				<i class="la la-arrow-left"></i>
				<span class="hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary mr-2" (click)="reset()" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="hidden-mobile">Reset</span>
			</a>
			<a href="javascript:;" class="btn btn-primary mr-2" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="hidden-mobile">Save</span>
			</a>
			<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<button mat-menu-item color="primary">Save & Duplicate</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu>
		</ng-container>

		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-user"></i>
					Basic info
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="employee">
						<form [formGroup]="employeeForm" class="form form-group-seperator-dashed">
							<div class="form-section form-section-first">
								<div class="form-group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter employee name" formControlName="employeeName"/>
											<mat-error>employee name is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Employee name</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="email" matInput placeholder="Enter Email" formControlName="email"/>
											<mat-error>Email is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Email</strong>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
								<div class="form-group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field>
											<mat-select placeholder="Enter entity" formControlName="entity" required [(ngModel)]="selected && selected.id">
												<mat-option>--</mat-option>
												<mat-option *ngFor="let e of departments" [value]="e._id">
													{{e.name}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div *ngIf="!employee.age" class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input type="age" matInput placeholder="Enter age" formControlName="age"/>
											<mat-hint align="start">Please enter
												<strong>age</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div *ngIf="employee.fechaAlta" class="col-lg-4 kt-margin-bottom-20-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Fecha de creación"  readonly formControlName="fechaAlta"/>
										</mat-form-field>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<!-- <mat-tab *ngIf="employee" [disabled]="true">
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-exchange-alt"></i>
					Change age
				</ng-template>
				<ng-template matTabContent>
					<kt-change-age [employeeId]="employee.id"></kt-change-age>
				</ng-template>
			</mat-tab> -->
		</mat-tab-group>
  </div>
</div>