
<div class="departments">
  <div class="contenido">
    <div class="buttons">
      <button [routerLink]="['/departments/edit']" mat-raised-button color="primary">Crear departamento</button>
    </div>
    <div class="buttons">
      <button [routerLink]="['']" mat-stroked-button color="primary">Empleados</button>
    </div>

    <mat-table class="table-department"
      #table
      [dataSource]="departments"
      matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let department">{{department.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell *matCellDef="let department">
          <button (click)="editDepartment(department)" mat-icon-button color="primary" matTooltip="Edit department">
            <mat-icon>create</mat-icon>
          </button>&nbsp;
          <button mat-icon-button color="warn" matTooltip="Delete department" type="button" (click)="deleteDepartment(department)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <div class="mat-table__message" *ngIf="!departments?.length">No records found</div>
    <div class="mat-table__message" *ngIf="!departments?.length">Please wait....</div>
  </div>
</div>
