
<div class="employees">
  <div class="contenido">
		<div class="buttons">
      <a href="javascript:;" class="btn btn-primary mr-2" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="hidden-mobile">Save</span>
			</a>
			<a [routerLink]="['/departments']" class="btn btn-secondary mr-2" mat-raised-button matTooltip="Back to the employee list">
				<i class="la la-arrow-left"></i>
				<span class="hidden-mobile">Back</span>
			</a>
		</div>

    <div class="form" *ngIf="department">
      <form [formGroup]="departmentForm">
        <div>
          <div>
            <div class="">
              <mat-form-field>
                <input matInput formControlName="name"/>
                <mat-error>employee name is
                  <strong>required</strong>
                </mat-error>
                <mat-hint align="start">Intoduzca
                  <strong>Nombre</strong>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>